# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Visual Studio files
*.suo
*.opendb
*.db
*.log
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.ilk
*.db-shm
*.db-wal
*.ipch
*.vcxproj.user
*.vcxproj.FileListAbsolute.txt

#Nspire files
*.tns
